language: node_js
node_js:
  - '12'
dist: trusty
cache:
  yarn: true
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile --non-interactive

before_deploy:
  - openssl aes-256-cbc -K $encrypted_bbad98ea3a3e_key -iv $encrypted_bbad98ea3a3e_iv
    -in .travis/deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa
deploy:
  - provider: script
    skip_cleanup: true
    script:
      - commitlint-travis
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script:
      - yarn run docs:publish
    on:
      branch: master
